hermod-python/deepspeech-models
hermod-python/src/credentials.json
hermod-python/rasa-old
hermod-python/mosquitto/password
old-hermod-nodejs
.env
hermod-python/src/.env
rasa
tests/rasa
hermod-python/lib
hermod-python/old2
hermod-nodejs/bin
hermod-nodejs/pyvenv.cfg
hermod-nodejs/lib
hermod-python/__pycache__
hermod-python/model
packagehermodnodejs.json
/docker-run
ibm-watson-stt-auth-server
snowboy.tgz
/log
/namecheap_dyndns
rasa/models
rasa/out.log
hermod-nodejs/*.wav
hermod-nodejs/porcupine-orig
deepspeech-model/models
old
node_modules
duckling/build
duckling/stack*
duckling/duckling
duckling/duckling-*
duckling/log

out.log
