#!/bin/sh
set -eu
#FETCH="fetch -qo -"
# or for curl:
FETCH="curl -s"
# $1: your domain
# $2: subdomain to update use @ for TLD
# $3: the password given to you by Namecheap's web interface
#
# Rerun this script every 5 minutes. Crontab entry (not as root):
# */5 * * * *  namecheap-ddns bla.com @ asdjfasfasdfasdf

domain=syntithenai.com
host1=alexa
password=9f0a54asdfasdfasdfasdfasdfadsfadsff

out=$(${FETCH} "https://dynamicdns.park-your-domain.com/update?host=${host1}&domain=${domain}&password=${password}")
grep -q "<ErrCount>0</ErrCount>" <<EOF && exit 0


${out}
EOF
cat <<EOF
${out}
EOF
exit 1
