soundfile
paho-mqtt
deepspeech==0.7.0
pyaudio
webrtcvad
numpy
scipy
paho-mqtt
pvporcupine
pyyaml
rasa
hbmqtt
pyyaml
rasa-sdk
flask-dance
gunicorn
blinker
asyncio_mqtt
python-dotenv
pymediawiki
word2number
wikidata
sounddevice
wptools
google-cloud-speech
websocket
inflect
google-cloud-texttospeech
motor


