body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#vucanvas {
  width: 150px;
  height: 300px;
  position: absolute;
  top: 150px;
  left: 45%;
  text-align: center;
}
.btn {
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.3em;
    box-shadow: 2px 4px #888888;
}

.btn-danger {
    background-color:lightpink;
    border: 1px solid red;
}
.btn-success {
    background-color:lightgreen;
    border: 1px solid green;
}
                   
      